// app global css in SCSS form
.bg-player1 {
  background: #ffa500;
}
.bg-player2 {
  background: #1562c2;
}
.bg-player3 {
  background: #45a024;
}
.bg-player4 {
  background: #cd3b3b;
}

.bold {
  font-weight: bold;
}
